{% extends 'base.html' %}
{% load static %}

{% block content %}
<main role="main" class="container">
  <div class="row mb-3 god-selectors">
    <div class="col-md-12 themed-grid-col">
      Choose Your God
      <select class="god-selector" placeholder="Select opponent's god">
        <option>{{god.name}}</option>
        {% for god in godlist %}
          <option>{{godlist.god}}</option>
        {% endfor %}
      </select>
      </div>
  </div>

  <div class="row mb-3 build-labels">
    <div class="col-md-2 themed-grid-col">
      {{player.name}}, {{player.Duel_Tier}}
    </div>
    <div class="col-md-7 themed-grid-col main-relic-label">
      Build
    </div>
    <div class="col-md-3 themed-grid-col alternate-relic-label">
      Relics
    </div>
  </div>
  <div class="build">
    <div class="row mb-3">
      <div class="col-md-2 themed-grid-col opponent">
        <!--Opponent <img src="{% static 'images/smallPlaceholder.JPG' %}">-->
        Opponent <img src="{{opponent.godIcon_URL}}" height="100px" width="100px">
      </div>
      <div class="col-md-7 themed-grid-col">
        <img src="{{build.items.0}}" height="100px" width="100px">
        <img src="{{build.items.1}}" height="100px" width="100px">
        <img src="{{build.items.2}}" height="100px" width="100px">
        <img src="{{build.items.3}}" height="100px" width="100px">
        <img src="{{build.items.4}}" height="100px" width="100px">
        <img src="{{build.items.5}}" height="100px" width="100px">
      </div>
      <div class="col-md-3 themed-grid-col">
        <img src="{{build.relics.0}}" height="100px" width="100px">
        <img src="{{build.relics.1}}" height="100px" width="100px">
      </div>
    </div>
  </div>
</main>

{% endblock content %}